{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.author == None %}
        <p style="margin-bottom: 0px;"><strong style="margin-bottom:0px; margin-top: 0px; color:grey;">{{post.title}}</strong></p>
      {% elsif post.collection == 'publications' %}
        <h2><strong style="margin-bottom:1.3px;">{{post.title}}</strong></h2>
        <p style="margin-top:1px; margin-bottom: 1px; font-size: medium;"> <span style="color:gray;"> {{ post.venue }} </span></p>
      {% elsif post.date %}
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p style="margin-top: 1px; margin-bottom: 1.5px;">{{ post.author }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    {% if post.read_time %}
    <p>Main Research Question: <span style="color:gray">{{ post.RQ }}</span></p>
    {% endif %}
    {% if post.citation and post.paperurl and post.slidesurl %}
      <p><a href="{{ post.paperurl }}">PDF</a> | <a href="{{ post.slidesurl }}">Slides</a></p>
    {% elsif post.citation and post.paperurl %}
      <p><a href="{{ post.paperurl }}">PDF</a></p>
    {% elsif post.citation and post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">Slides</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% elsif post.paperurl %}
      <p><a href=" {{ post.paperurl }} ">PDF</a></p>
    {% elsif post.slidesurl %}
      <p>Download <a href="{{ post.slidesurl }}">Slides</a></p></p>
    {% endif %}

  </article>
</div>
